body {
	background-image:url("/img/plaid.jpg");
	margin:0;
}

.main {
	background-color: #FFF;
}

.cta-header {
	background-image: url("/img/scot.jpg");
	height: 853px;
	line-height: 853px;
	font-family: 'Great Vibes', cursive;
	text-align: right;
}

.cta-text > h1 {
	font-size: 9.5em;
	color: #000;
	padding: 0 30px;
}

.cta-text > h2 {
	font-size: 4em;
	color: #000;
	padding: 0 30px;
}

.cta-text {
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	background-color: #FFF;
	opacity: 0.7;
}

.kilt-container {
	text-align: center;
	vertical-align: middle;
	margin: 80px 0;
}

footer {
	text-align: center;
	background-color: #FFF;
}

p {
	font-size: 1.5em;
	margin: 30px;
	text-align: justify;
}

nav {
	font-family: 'Great Vibes', cursive;
}

.navbar-brand {
	font-size: 3em;
	margin-top: 5px;
	display: inline-block;
	float: none;
}

.navbar-header {
	float: left;
	text-align: center;
	width: 100%;
}

@media (max-width: 960px) {
	.cta-text > h1 {
		font-size: 3em;
	}

	.cta-text > h2 {
		font-size: 2em;
	}
}
